# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Rails
log/
tmp/
storage/
.byebug_history

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Ignorar
COISAS A MEHORAR.md 

# Ignorar
não_mandar/