.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

ul {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
  margin-top: 20px;
  padding: 0;
  margin-top: 20px;
}

ul::-webkit-scrollbar {
  width: 8px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #b99d9d;
  border-radius: 10px;
}

.todo-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  margin-bottom: 8px;
  padding: 6px;
}
